/* * {
    outline: 1px solid rgb(61, 132, 202);
} */

body {
    font-family: Pretendard, sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

/* Header 시작 ---> */
.hd-top {
    line-height: 50px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.7);
}

.hd-top__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.hd-top__items a {
padding: 10px;
font-weight: 500;
color: #333;
}

.ht-bt {
    line-height: 80px;
    font-size: 18px;
    font-weight: 500;
}

.ht-bt h1 {
    width: 20%;
}

.ht-bt .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.hd-bt__items {
    display: flex;
}

.hd-bt__items li>a {
    padding: 25px;
}


/* main-visual 시작 ---> */
.visual-items {
    position: relative;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.visual-text {
    position: absolute;
    top: 50%;
    left: 15%;
    color: #fff;
}

.visual-text p {
    font-size: 26px;
}

.visual-text strong {
    font-size: 46px;
    font-weight: 700;
    line-height: 65px;
}

.major-menu {
    width: 80%;
    margin: 0 auto;
    background-color: #F0F0F0;
    line-height: 80px;
    border-radius: 0 0 15px 15px;
}

.major-menu .menu-items {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.major-menu .menu-items li:first-child {
    font-weight: 700;
}

.major-menu .menu-items li {
    position: relative;
}

.major-menu .menu-items li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #222;
    transition: all 0.2s ease;
    transform: translateX(-50%);
}

.major-menu .menu-items li:first-child a:after {
    display: none;
}

.major-menu .menu-items li a:hover::after {
    width: 100%;
  }

.major-menu .menu-items li a {
    padding: 10px;
}

/* jaseng-cure 시작 ---> */
.jaseng-cure {
    padding: 100px 0;
    text-align: center;
    background: linear-gradient(#ffffff 64.5%, #F7F7F7 35.5%);
}

.jaseng-cure h2 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}

.jaseng-cure p {
    font-size: 14px;
    margin-bottom: 60px;
    letter-spacing: 0.04em;
    line-height: 24px;
}

.swiper-wrapper {
    display: flex;
}

.card .swiper-slide {
    width: calc(100% / 4 - 30px);
    height: 390px;
    border-radius: 5px;
    background-color: #fff;
}

.card-text {
    display: block;
    text-align: left;
}

.card-text strong {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 30px 30px 0 ;
}

.card-text p {
    font-size: 15px;
    padding: 0 30px;
}

/* jaseng-map 시작 ---> */
.jaseng-map {
    padding: 100px 0;
}

.jaseng-map .container {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}

.map-title {
    text-align: center;
    padding: 0 0 70px;
}

.map-title h3 {
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 0.04em;
}

.map-title p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.map__items dl {
    margin-bottom: 30px;
}

.map__items dt {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.5);
    line-height: 45px;
}

.map__items dt::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 1px;
    background-color: #000;
}

.map__items .dd {
    display: flex;
    font-size: 16px;
}

.map__items .dd>dd>a{
padding: 0 20px;
line-height: 30px;
}

/* jaseng-map 시작 ---> */
.jaseng-booking {
    background: url(../img/online-bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: auto;
    color: #ffffff;
    padding: 80px 0 170px;
}

.jaseng-booking strong {
    font-size: 24px;
}

.jaseng-booking span {
    font-size: 12px;
}

.inputBox div {
    background-color: rgba(0, 0, 0, 0.5);
}

.form.container {
    display: flex;
}

.inputBox {
    display: grid;
	grid-template-columns: 224px 224px 448px;
	grid-template-rows: 60px 60px;
    column-gap: 10px;
	row-gap: 10px;
}

.inputBox span {
    font-size: 18px;
    line-height: 60px;
    padding: 0 30px;
}

.inputBox div {
    border-radius: 5px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.submit-btn {
    width: 246px;
    height: 131px;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-size: 18px;
    margin-left: 15px;
    font-weight: 700;
    letter-spacing: 0.04em;
}

.text.container {
    margin-bottom: 30px;
}

.text.container span {
    margin-left: 5px;
}


/* --- jaseng-review 시작 --- */
.jaseng-review {
    padding: 100px 0;
    width: 80%;
    margin: auto;
    z-index: 2;
    background-color: #fff;
    border-radius: 15px;
    transform: translateY(-22%);
}

.jaseng-review h3 {
    font-size: 24px;
    margin-bottom: 30px;
    transform: translateY(-220%);
    font-weight: 500;
    letter-spacing: 0.04em;
}

.jaseng-review h3::after {
    content: "";
    position: absolute;
    bottom: -115%;
    left: -15%;
    width: 130%;
    height: 1px;
    background-color: #ddd;

}

.review.swiper-wrapper {
    display: flex;
}

.review.swiper-slide {
    width: 270px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.review.swiper-slide strong {
    display: block;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.review.swiper-slide p {
    font-size: 15px;
    margin-bottom: 37px;
    line-height: 24px;
}
.review.swiper-slide .number {
    font-size: 14px;
    margin-right: 117px;
    color: #002F87;
}

.review.swiper-slide .new {
    font-size: 12px;
    background-color: #002F87;
    padding: 5px 7px;
    border-radius: 5px;
    color: #fff;
}

.review.swiper-slide .best {
    font-size: 12px;
    background-color: #F8981C;
    padding: 5px 6px;
    border-radius: 5px;
    color: #fff;
}

.slide-text {
    padding: 30px;
    letter-spacing: 0.04em;
}


/* jaseng-info 시작 ---> */
.jaseng-info {
    padding: 0 0 100px;
    text-align: center;
}

.jaseng-info .title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 40px;
    margin-bottom: 70px;
}

.jaseng-info p>strong {
    color: #002F87;
    font-weight: 600;
}

.jaseng-info .content {
    display: flex;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.info__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sub-info {
    text-align: left;
}

.Num {
    padding: 50px 50px;
    width: 100%;
    background-color: #3c5788;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 40px;
}

.Num .info-num,
.Num .address {
    font-size: 18px;
    letter-spacing: 0.08em;
}

.Num strong {
    font-size: 30px;
}

.sub-info {
    font-size: 14px;
    line-height: 24px;
}

.sub-info dl {
    position: relative;
    display: flex;
    margin-bottom: 26px;
}

.sub-info dl::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

.sub-info dl:last-child::after {
    display: none;
}

.sub-info dt {
    position: relative;
   width: 80px;
   font-size: 15px;
   font-weight: 500;
}

/* --- footer 시작 --- */
#Footer {
    /* padding: 0 0 50px; */
    background-color: #f9f8f7;
  }
  
  .ft-top {
    border-top: 1px solid #ddd;
    background-color: #fff;
  }
  
  .policy {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 60px;
    text-align: center;
  }
  
  .policy .personal {
    font-weight: 500;
  }
  
  .policy li {
    flex: 1;
  }
  
  .policy li::before {
    content: "";
    width: 1px;
    height: 3px;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .ft-bt .container {
    display: flex;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 20px 15px;
  }
  
  .ft-logo img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 50px 0 0;
  }
  
  .ft-bt .strong {
    margin-bottom: 15px;
    color: #000;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  
  .ft-bt .ceo {
    color: #000;
    font-weight: 500;
  }
  
  .ft-bt ul {
    margin: 0 255px 0 0;
  }
  
  .ft-bt ul>li {
    line-height: 24px;
    color: rgb(78, 78, 78);
  }

  .copyright {
    text-align: center;
  }
  
  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 80px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 15px 18px;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: 0 5px 12px 3px rgb(0 0 0 / 15%);
    transition: 0.5s;
  }
  
  /* #myBtn:hover {
    background-color: rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
  } */
  